<app-auth-layout>
  <router-outlet>
    <section>
      <div class="container-fluid h-100">
        <div class="login-bg">
          <div class="row h-100 flex-column-reverse flex-md-row">
            <!-- Start of driver-details -->
            <div class="col-lg-6 col-md-6 driver-section p-0" *ngIf="userType==1">
              <app-rider-dumb></app-rider-dumb>
            </div>

            <div class="col-lg-6 col-md-6 driver-section p-0" *ngIf="userType==2">
              <app-driver-dumb></app-driver-dumb>
            </div>
            <!-- end of driver-details -->
            <!-- Send otp -->
            <div class="col-lg-6 col-md-6 login-section p-0" *ngIf="displayForms.sendOtp">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="drivers-Bg">
                      <div class="login-Bg-otp">
                        <h3 class="Log-Hd">Forgot password?</h3>
                        <p class="p-ph-number">
                          Please enter your email address below
                        </p>
                      </div>

                      <div class="input-Box">
                        <form [formGroup]="sendOtpForm">
                          <div class="form-group">
                            <input type="text" class="form-control " placeholder="email" formControlName="email" />
                            <div *ngIf="
                                sendOtpForm.get('email').invalid &&
                                (sendOtpForm.get('email').touched ||
                                  sendOtpForm.get('email').dirty ||
                                  isSubmit)
                              " style="color: red;">
                              <span *ngIf="
                                  sendOtpForm.get('email')?.errors?.required
                                ">
                                Please enter email
                              </span>
                              <span *ngIf="sendOtpForm.get('email')?.errors?.email">
                                Please enter valid email
                              </span>
                            </div>
                          </div>

                          <button type="button" class="btn-login" (click)="sendOtp('otpVerification')">
                            Send Code
                            <img src="images/right-arrow.svg" alt="" />
                          </button>
                        </form>
                      </div>

                      <div class="login-bottom-border"></div>
                      <div class="sign-up">
                        <h3 id="can-password" (click)="navigateOnLogin()">Cancel</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Send otp ends.. -->

            <!-- Verify otp starts -->
            <div class="col-lg-6 col-md-6 login-section p-0" *ngIf="displayForms.otpVerification">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="drivers-Bg">
                      <div class="driver-detail">
                        <h3 class="trip-Hd otp_color">OTP Verification</h3>
                        <p class="p-ph-verfiction">
                          We just sent a six-digit code to
                          <a href="javascript:void();">{{ sendOtpForm.value.email }}</a> via
                          Email. Enter the code below to confirm your email
                          .
                        </p>
                      </div>

                      <div class="input-Box">
                        <div class="verify-box-top ">
                          <div class="verify-box ">
                            <form [formGroup]="verifyOtpForm">
                              <ul>
                                <li>
                                  <input class="otp_num" maxlength="1" placeholder="0" (input)="onOtp($event, 0)" />
                                </li>
                                <li>
                                  <input class="otp_num" maxlength="1" placeholder="0" (input)="onOtp($event, 1)" />
                                </li>
                                <li>
                                  <input class="otp_num" maxlength="1" placeholder="0" (input)="onOtp($event, 2)" />
                                </li>
                                <li>
                                  <input class="otp_num" maxlength="1" placeholder="0" (input)="onOtp($event, 3)" />
                                </li>
                                <li>
                                  <input class="otp_num" maxlength="1" placeholder="0" (input)="onOtp($event, 4)" />
                                </li>
                                <li>
                                  <input class="otp_num" maxlength="1" placeholder="0" (input)="onOtp($event, 5)" />
                                </li>
                              </ul>
                              <div *ngIf="
                                  verifyOtpForm.get('otp').invalid &&
                                  (verifyOtpForm.get('otp').touched ||
                                    verifyOtpForm.get('otp').dirty ||
                                    isSubmit)
                                " style="color: red;">
                                <span *ngIf="
                                    verifyOtpForm.get('otp')?.errors?.required
                                  ">
                                  Please enter OTP
                                </span>
                                <span *ngIf="
                                    verifyOtpForm.get('otp')?.errors?.invalid
                                  ">
                                  Please enter valid OTP
                                </span>
                              </div>
                            </form>
                          </div>
                        </div>
                        <button type="button" class="btn-login mt-0" (click)="verifyOtp('setPassword')">
                          Verify
                          <img src="images/right-arrow.svg" alt="" />
                        </button>
                      </div>
                      <div class="login-bottom-border"></div>
                      <div class="sign-up d-flex">
                        <h3>Didn't receive code?</h3>
                        <a (click)="resendOtp()"> Resend Code </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Verify otp ends.. -->

            <!-- Set password starts -->
            <div class="col-lg-6 col-md-6 login-section p-0" *ngIf="displayForms.setPassword">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="drivers-Bg">
                      <div class="driver-detail margin-top-password ">
                        <h3 class="trip-Hd otp_color">Create New Password</h3>
                        <p class="p-ph-verfiction">
                          Please enter a new password below.
                        </p>
                      </div>

                      <div class="input-Box">
                        <form [formGroup]="setPasswordForm">
                          <div class="form-group create-password-new-2">
                            <input [type]="showPassword? 'text':'password'" class="form-control "
                              placeholder="Password" formControlName="password" />
                            <small><i [class]="showPassword? 'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"
                                (click)="showAndHidePassword('password', showPassword)"></i></small>
                            <div *ngIf="
                                setPasswordForm.get('password').invalid &&
                                (setPasswordForm.get('password').touched ||
                                  setPasswordForm.get('password')
                                    .dirty ||
                                  isSubmit)
                              " style="color: red;">
                              <span *ngIf="
                                  setPasswordForm.get('password')?.errors
                                    ?.required
                                ">
                                Please enter password
                              </span>
                              <span *ngIf="
                                  setPasswordForm.get('password')?.errors
                                    ?.minlength
                                ">
                                Please enter at least 6 characters
                              </span>
                              <span *ngIf="
                                  setPasswordForm.get('password')?.errors
                                    ?.maxlength
                                ">
                                Please enter at most 20 characters
                              </span>
                            </div>
                          </div>

                          <div class="form-group create-password-new-2 mt-4">
                            <input [type]="showConfirmPassword? 'text':'password'" class="form-control"
                              placeholder="Confirm Password" formControlName="confirmPassword" />
                            <small><i [class]="showConfirmPassword? 'fa fa-eye':'fa fa-eye-slash'" aria-hidden="true"
                                (click)="showAndHidePassword('confirmPassword', showConfirmPassword)"></i></small>
                            <div *ngIf="
                                setPasswordForm.get('confirmPassword')
                                  .invalid &&
                                (setPasswordForm.get('confirmPassword')
                                  .touched ||
                                  setPasswordForm.get('confirmPassword')
                                    .dirty ||
                                  isSubmit)
                              " style="color: red;">
                              <span *ngIf="
                                  setPasswordForm.get('confirmPassword')?.errors
                                    ?.required
                                ">
                                Please enter password
                              </span>
                              <span *ngIf="
                                  setPasswordForm.get('confirmPassword')?.errors
                                    ?.minlength
                                ">
                                Please enter at least 6 characters
                              </span>
                              <span *ngIf="
                                  setPasswordForm.get('confirmPassword')?.errors
                                    ?.maxlength
                                ">
                                Please enter at most 20 characters
                              </span>
                              <span *ngIf="
                                  setPasswordForm.get('confirmPassword')?.errors
                                    ?.notMatched
                                ">
                                Password not matched!
                              </span>
                            </div>
                          </div>

                          <button type="submit" (click)="setPassword()" class="btn-login">
                            Submit
                            <img src="images/right-arrow.svg" alt="" />
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Set password ends.. -->
          </div>
        </div>
      </div>
    </section>
  </router-outlet>
</app-auth-layout>