/* #color_txt{
      color: #1E306E;
    font-size: 17px;
    line-height: 22px;
    font-family: "Gilroy-SemiBold";
    margin: 10px 0px;
    margin-bottom: 26px;
    border-radius: 8px !important;
    background: #EBF5FC !important;
} */