<!--------------------------------start of header------------------------------------------------>
<header id="top-header" class="fixed-top">
  <div class="container-fluid ">
    <div class="header-wrapper">
      <nav class="navbar">
        <div class="logo-new">
          <a href="#">
            <img src="assets/images/logo.png" alt="" class="img-fluid">
          </a>
        </div>
        <div class="menu-drop-new">
          <ul class="navbar-nav-new">
            <li>
              <a class="nav-link header-heading_txt" href="#">
                <img src="assets/images/loaction.svg" alt="" class="loction">
                You are in {{ currentAddress }}
              </a>
            </li>
            <li>
              <a href="driver-login.html" class="miami-txt">
                <button class="btn btn-outline-success Login-Btn">LOGIN</button>
              </a>
            </li>
            <li>
              <form>
                <button class="btn btn-outline-success my-2 my-sm-0 get-started-btn"><a href="driver-sign-up.html"
                    style="color: #000;">GET STARTED </a></button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--End of header-->