<app-driver-layout>
  <router-outlet>
    <section>
      <div class="container-fluid trip_history1">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <app-driver-sidebar></app-driver-sidebar>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="profile-detail-form">
              <div class="tab-content mt-0" id="v-pills-tabContent">

                <div>
                  <div class="massege-Box">

                    <div class="row">
                      <div class="col-md-5 pr-0 ">
                        <div class="massege-filter-box">
                          <div class="bookings-tab">
                            <ul class="nav nav-tabs" role="tablist">
                              <li class="nav-item" id="trip_box">
                                <a class="nav-link active" data-toggle="tab" href="#current">Trip History</a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Past" (click)="updateRequestType(2)">Trip
                                  History</a>
                              </li> -->
                            </ul>
                          </div>
                          <!-- Tab panes -->
                          <div class="tab-content m-0 current-tab-body">

                            <div id="current" class="tab-pane active ">
                              <div class="current-detail-sidbar">
                                <div class="sort-by pt-1">
                                  <div class="Week-calendar">

                                    <div class="navbar-history">
                                      <div class="dropdown-sort-btn">
                                      
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="current-listing" *ngIf="tripHistory.length>0">

                                  <div [class]="selectedId==item._id? 'highlight-request':'current-driver-box'" *ngFor="let item of tripHistory">
                                    <div class="current-page-box-profile" (click)="updateSelectedRequest(item)">
                                      <div class="drivers-filters d-flex filter-padding ">
                                        <div class="driver-pic d-flex">
                                          <div class="driver-img">
                                            <img [src]="item?.details?.avatar? item?.details?.avatar:
                                           item?.details?.loginType==1? item?.details?.photoUrl:'assets/images/Profile.svg'" 
                                           alt="" class="img-fluid">
                                          </div>
                                          <div class="driver-name-Txt monteiro">
                                            <h4>
                                              {{ item?.details?.firstName }}
                                              <span>
                                                {{ item?.details?.lastName }}
                                              </span>
                                            </h4>

                                            <h6 *ngIf="item?.isHavingRoundTrip">{{ item?.date | date }} -
                                              {{ item?.returnDate | date}}</h6>
                                            <h6 *ngIf="!item?.isHavingRoundTrip">{{ item?.date | date }}</h6>

                                          </div>
                                        </div>

                                        <div class="accepted-hd-2">
                                            <h6 *ngIf="item?.fare!='' && item?.fare">${{item?.fare}}</h6>
                                          <h5 *ngIf="item?.status==1">Requested</h5>
                                          <h5 *ngIf="item?.status==4">Cancelled</h5>
                                          <h5 *ngIf="item?.status==2">Rejected</h5>
                                          <h5 *ngIf="item?.status==3">Booked</h5>
                                          <h5 *ngIf="item?.status==5">Completed</h5>
                                        </div>
                                        
                                      </div>

                                      <div class="current-loction-txt">
                                        <div class="pickup-address card-qution">
                                          <div class="pick-Txt">
                                            <h5>{{ item?.fromAddress }}</h5>
                                          </div>
                                          <div class="pick-Txt mt-3">
                                            <h5>{{ item?.toAddress }}</h5>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <div class="current-listing" *ngIf="tripHistory.length==0">
                                  <div class="current-driver-box mt-3">
                                    <div class="current-page-box-profile">
                                      <h4>No trips yet.</h4>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="col-md-7 pl-0 boking-id-mt border-chatbox-left">
                        <app-trip-detail></app-trip-detail>
                      </div>
                    </div>
                    <!-- close-row -->
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </router-outlet>
</app-driver-layout>