
<section class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="footer-about-box2">
          <a><h4 (click)="goToRoute('/general-info', 'about-us')">About Us</h4></a>
          <p>We at VananaVan are an online service that provides users a place to easily find and contact available
            drivers for any of their transportation needs, whether that be for school or vacation or even work events.
            VananaVan is here to help you find the right driver for you.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="footer-about-box2">
          <h4>Legal</h4>
          <a (click)="goToRoute('/general-info', 'privacy')">Privacy Policy</a>
          <a (click)="goToRoute('/general-info', 'terms')">Terms and Conditions</a>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="footer-about-box2">
          <h4>Support</h4>
          <a (click)="goToRoute('/contact')">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>



<footer class="footer-Bg">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-5 col-md-5 col-sm-3 order-last1">
        <div class="footer-Txt">
          <h3>© 2020 VananaVan</h3>
        </div>
      </div>

      <div class="col-lg-7 col-md-7 col-sm-9 order-first2">
        <!-- <nav class="footer-link">
            <a href="#">Privacy </a>
            <a href="#">Accessibility</a>
            <a href="#">Terms</a>
          </nav> -->
      </div>
      
    </div>
  </div>
</footer>