<ng-container *ngIf="isLogin && currentUser?.type==1">
        <app-layout>
                <router-outlet>
                        <app-general-info-dumb></app-general-info-dumb>
                </router-outlet>
        </app-layout>
</ng-container>
<ng-container *ngIf="isLogin && currentUser?.type==2">
        <app-driver-layout>
                <router-outlet>
                        <app-general-info-dumb></app-general-info-dumb>
                </router-outlet>
        </app-driver-layout>
</ng-container>

<ng-container *ngIf="!isLogin">
        <app-auth-layout>
                <router-outlet>
                        <app-general-info-dumb></app-general-info-dumb>
                </router-outlet>
        </app-auth-layout>
</ng-container>