  <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="drivers-Bg">
                      <div class="driver-detail">
                        <h3 class="trip-Hd">
                          Choose from a variety of drivers for your trip.
                        </h3>
                      </div>
                      <div class="available-drivers">
                        <h3 class="Hd-Txt">Available Drivers</h3>

                        <div class="drivers-detail d-flex padding-driver-box">
                          <div class="driver-pic d-flex">
                            <div class="jose-estave-2">
                              <img src="assets/images/driver-1.png" alt="" class="img-fluid" />
                            </div>
                            <div class="driver-name">
                              <h4 class="dana-koprivova">Mike Hernandez</h4>
                              <h5 class="dana-date"> 10/16/19</h5>
                            </div>
                          </div>
                          <div class="driver-rating">
                            <img src="assets/images/rating.svg" alt="" />
                            <span>4.5 (60)</span>
                          </div>
                        </div>
                        <div class="drivers-detail d-flex padding-driver-box">
                          <div class="driver-pic d-flex">
                            <div class="jose-estave-2">
                              <img src="assets/images/driver-2.png" alt="" class="img-fluid" />
                            </div>
                            <div class="driver-name">
                              <h4 class="dana-koprivova">Erick Williams</h4>
                              <h5 class="dana-date"> 6/25/20</h5>
                            </div>
                          </div>

                          <div class="driver-rating">
                            <img src="assets/images/rating.svg" alt="" />
                            <span>5.0 (106)</span>
                          </div>
                        </div>

                        <div class="drivers-detail d-flex padding-driver-box">
                          <div class="driver-pic d-flex">
                            <div class="jose-estave-2">
                              <img src="assets/images/driver-3.png" alt="" class="img-fluid" />
                            </div>
                            <div class="driver-name">
                              <h4 class="dana-koprivova">Jack Davis</h4>
                              <h5 class="dana-date">3/8/20</h5>
                            </div>
                          </div>

                          <div class="driver-rating">
                            <img src="assets/images/rating.svg" alt="" />
                            <span>4.5 (23)</span>
                          </div>
                        </div>
                      </div>

                      <!-- <div class="call-Btn d-flex justify-content-end">
                        <button class="my-2 my-sm-0 call-now" type="submit">
                          <img src="assets/images/call-btn.svg" alt="" /> &nbsp; Call
                          Now
                        </button>
                        <button class="my-2 my-sm-0 massege-Btn" type="submit">
                          Message
                        </button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
